


<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %> 
      <div id="center">
      <a href="/auth/facebook" class="btn btn-sm btn-social btn-facebook">
        <span class="fa fa-facebook"></span>
        Sign in with Facebook
      </a>

      <a href="/auth/github" class="btn btn-sm btn-social btn-github">
        <span class="fa fa-github"></span>
        Sign in with Github
      </a>
      </div>
     
      <br>

      <%= f.label :remember_me, class: "checkbox inline" do %>
       <br> <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "standard-input-button" %>
    <% end %>
  

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>