<%= form_for(@tip, html: {class: 'form-group'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.text_field :title, placeholder: "Add your title..." %>
    <%= f.text_field :link, placeholder: "Add your link..." %>
    <%= f.text_area :description, placeholder: "Add a description..." %>
    <%= f.select(:lesson_id, @options) %>

  </div>
  <%= f.submit "Post", class: "standard-input-button" %>
<% end %>