<!DOCTYPE html>
<html>
  <head>
 <!--Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--Font Awesome CDN -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!--To include a favicon include the below line as well as favicon.ico in assets/images  -->
<%= favicon_link_tag asset_path('favicon.ico') %>
  <!--Call out title in every controller action so that it updates across all views appropriatelye -->
    <title><%= @title %></title>
  
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
  
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <!-- 
The HTML5 Shiv enables use of HTML5 sectioning elements in legacy Internet Explorer and provides basic HTML5 styling for Internet Explorer 6-9, Safari 4.x (and iPhone 3.x), and Firefox 3.x. https://github.com/aFarkas/html5shiv-->
    <%= render 'layouts/shim' %>
  
  </head>
  <body>
    <%= render 'layouts/header' %>
   <!-- container class is necessary for bootstrap to use grid system https://getbootstrap.com/docs/4.0/layout/overview/ -->
    <div class="container">
      <% flash.each do |message_type, message| %> <!--flash = { success: "It worked!", danger: "It failed." }  message type is the key and message is the value-->
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
        <%= render 'layouts/footer' %>
        <!--Provide additional info through checking for environment and params hash -->
        <%= debug(params) if Rails.env.development? %>
    </div>
 <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  </body>
</html>