<!DOCTYPE html>
<html>
  <head>
<%= favicon_link_tag asset_path('favicon.ico') %>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <!--Pulls in code for browsers pre IE9 -->
    <%= render 'layouts/shim' %>
  
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
        <%= render 'layouts/footer' %>
        <!--Provide additional info through checking for environment and params hash -->
        <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>